{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid grid-cols-3 gap-4" >
        {{ dump(article.getIdUser) }}
    {% for articles in article %}

            <div class="card bg-green-500">
                <figure>
                    {% if articles.images is null %}
                        <img src="" />
                    {% else %}

                    {% endif %}
                </figure>
                <div class="card-body " >

                    <p class="font-bold">{{ articles.nom }}</p>
                    <p >{{ articles.description }}</p>

                </div>
            </div>

    {% endfor %}
    </div>
{% endblock %}