{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid grid-rows-4 ">
    {% for articles in article %}

            <div class="card w-96 bg-green-500 ">
                <div class="card-body">

                    <h1>{{ articles.nom }}</h1>
                    <p>{{ articles.description }}</p>

                </div>
            </div>

    {% endfor %}
    </div>
{% endblock %}