{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <h1 class="text-center font-bold">Login</h1>
    <div class="flex flex-col  justify-center items-center h-screen">
        {% if errors %}
            <div class="alert alert-danger">{{  errors.messageKey|trans(errors.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path('app_login') }}" method="post">

                <div class=" flex flex-row">
                    <input type="email" id="username" name="_username"  value="{{ last_username }}"  class="input w-full max-w-xs input-accent" />
                    <label class="form-label" for="username">Email address</label>

                </div>
                <div class=" flex flex-row ">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password" class="input w-full max-w-xs input-accent">
                </div>

            <button type="submit" class="btn btn-success">Connexion</button>
        </form>

    </div>


{% endblock %}
